/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  margin-top: 5px;

  background-color: #eee;

  color: #444;

  cursor: pointer;

  padding: 18px;

  width: 25%;

  text-align: left;

  border: none;

  outline: none;

  transition: 0.4s;
}
.accordion.active {
  background-color: #ccc;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  display: none;
}

.content.active {
  display: block;
  padding: 40px 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;

  background-color: white;

  display: none;

  overflow: hidden;
}

.tab {
  overflow: hidden;

  border: 1px solid #ccc;

  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */

.tab button {
  background-color: inherit;

  float: left;

  border: none;

  outline: none;

  cursor: pointer;

  padding: 14px 16px;

  transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
  display: none;

  padding: 6px 12px;

  border: 1px solid #ccc;

  border-top: none;
}
